<div class="hero mx-auto rounded-3">
  <div class="d-flex justify-content-around   ps-5 pt-5">
    <div class="box1 py-4  ">
        <div>
          <app-bar-heading
            text="enhance your career"
            bgColor="#ffffff56"
            textColor="white"
          ></app-bar-heading>
        </div>
        <div class="mainHeading lh-sm text-capitalize pb-3">
          Access the world best learning platform with Deline University
        </div>
        <div class="subHeading">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident ut
          rem placeat debitis Corrupti quisquam illum sit, officia at neque
          animi temporibus iste nesciunt placeat tempore quaerat!
        </div>
          <div class="my-5" *ngIf="!isUserLogin">
            <app-button
              text="Register Now"
              bgColor="#0b1d42"
              textColor="white"
            ></app-button>
          </div>
    </div>

    <div class="w-75  ">
      <img
        src="assets/colleagues-studying-library-reading-from-laptop-Photoroom.png"
        class="img1"
        alt=""
      />
    </div>
  </div>
</div>
