<app-loader *ngIf="loader"></app-loader>

<div class="container my-5" *ngIf="!loader">
  <div class="row justify-content-start" *ngIf="courseVideos.length > 0">
    <div class="col-3 videoDetails rounded-3">
      <app-course-details
        *ngFor="let details of courseVideos"
        [title]="details.title"
        [videoNo]="(courseVideos.indexOf(details) + 1).toString()"
        [selectedVideo]="selectedVideo"
        [videoLink]="details.link"
        (click)="onClick(details.link)"
      >
      </app-course-details>
    </div>
    <div class="col-9">
      <iframe
        width="560"
        height="315"
        [src]="videoSrc"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
        class="rounded-3 courseVideo"
      ></iframe>
    </div>
  </div>
  <div
    class="text-secondary fs-3 text-capitalize"
    *ngIf="courseVideos.length === 0"
  >
    No videos yet
  </div>
</div>
