<footer class="footer  p-5">
   <div class="row justify-content-center gap-4">
      <div class="col-4 ">
         <div class="fs-3 fw-bold">Deline University</div>
         <div class="footerText">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex aperiam exercitationem corporis rem
               temporibus quod alias laboriosam. Ea neque, fuga excepturi aperiam </p>
         </div>
      </div>
      <div class="col-2 d-flex flex-column gap-3 ">
         <div class="footerHeading">Deline Business</div>
         <div class="d-flex flex-column gap-2">
            <a href="#">
               <div class="footerText">About Us</div>
            </a>
            <a href="#">
               <div class="footerText">Blogs</div>
            </a>
            <a href="#">
               <div class="footerText">Contact Us</div>
            </a>
         </div>
      </div>
      <div class="col-2 d-flex flex-column gap-3 ">
         <div class="footerHeading">Sevices</div>
         <div class="d-flex flex-column gap-2">
            <a href="#">
               <div class="footerText">Class</div>
            </a>
            <a href="#">
               <div class="footerText">Chellenge</div>
            </a>
            <a href="#">
               <div class="footerText">Skill Path</div>
            </a>
            <a href="#">
               <div class="footerText">Webinar</div>
            </a>
         </div>
      </div>
      <div class="col-3 d-flex flex-column gap-3 ">
         <div class="footerHeading">Contact</div>
         <div class="d-flex flex-column gap-2">
            <a href="#">
               <div class="footerText d-flex align-content-center gap-3">
                  <div> <i class="fa-solid fa-phone"></i></div>
                  <div> (122)1258899</div>
               </div>
            </a>
            <a href="#">
               <div class="footerText d-flex align-content-center gap-3">
                  <div> <i class="fa-solid fa-envelope"></i></div>
                  <div> {{emailText}}</div>
               </div>
            </a>
            <a href="#">
               <div class="footerText d-flex align-content-center gap-3">
                  <div> <i class="fa-solid fa-location-dot"></i></div>
                  <div>  Fairways Commercial - Defence Raya Golf and Country Club</div>
               </div>
            </a>
            <div class="d-flex justify-content-start align-content-center gap-4 pt-3" >
               <a href="#"><div class="social"> <i class="fa-brands fa-facebook-f"></i></div></a>
               <a href="#"><div class="social"> <i class="fa-brands fa-instagram"></i></div></a>
               <a href="#"><div class="social"><i class="fa-brands fa-linkedin-in"></i></div></a>
            </div>
         </div>
      </div>
   </div>
</footer>