<div class="container">
  <div class="row mt-5">
    <div class="mb-4 container d-flex justify-content-between">
      <h1 class="text-start ps-4 fs-3">Course Videos</h1>
      <div [routerLink]="'/addCourseVideo'">
        <button class="btn btn-primary">Add Video+</button>
      </div>
    </div>
  </div>

  <div></div>
  <div
    class="d-flex justify-content-between align-items-center border p-3 rounded-4 videoCard mb-3"
    *ngFor="let video of allVideos"
  >
    <div class="d-flex gap-3 align-content-center">
      <span class="border p-2 rounded-circle px-3 videoNo">{{
        allVideos.indexOf(video) + 1
      }}</span>
      <a href=""
        ><div class="fs-3 text-capitalize">{{ video.title }}</div></a
      >
    </div>
    <div class="d-flex gap-3">
      <i
        class="fa-solid fa-trash curson-pointer text-danger fs-5"
        (click)="deleteCourseVideo(video.id)"
      ></i>
      <i class="fa-solid fa-pen-to-square curson-pointer text-success fs-5"></i>
    </div>
  </div>

  <div class="fs-3 text-secondary mb-5" *ngIf="allVideos.length === 0">
    No video found
  </div>
</div>
